.container{
    background-color: #2179FF;
    min-height: 100vh;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}
input{
    width: 250px;
    padding: 10px;
}

.whitecontainer{
    
    position: relative;

	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 50px 80px;
	border-radius: 10px;

	z-index: 2;

    display: flex;
    flex-direction: column;

    align-items: center;

    transition: .3s all;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
    }
}
/* input{
    padding: 5px 10px;
    margin-bottom: 10px;
} */
.title{
    text-align: center;
    padding-bottom: 15px;
    color:white ;
    font-size: 40px;
    font-weight: bold;
}
.formPassword{
    gap: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 100%;

        display: flex;
        justify-content: center;
    }
}
.button{
    margin-top: 10px;
    width: fit-content;
    cursor: pointer;
    background-color: #2179FF;
    color: white;
    padding: 5px;
    border-radius: 5px;

}

.bg {
	position: fixed;
	top: -5vh;
	left: -5vw;

	height: 110vh;
	width: 120vw;

	& > div {
		height: 110vh;
		width: 120vw;

		& > img {
			height: 110vh;
			width: 120vw;

			object-fit: cover;
		}
	}
}

.redirect{
    display: flex;
    gap: 3px;
}

.back {
    /* div looks like a link */
    color: #02204e;
    text-decoration: underline;

    cursor: pointer;
    
    margin-top: 20px;
}