.header {
    h2 {
        margin: 0px;
    }

    h5 {
        margin-top: 0px;
        font-weight: normal;
        font-style: italic;
    }

    .container {
        display: flex;
        gap: 30px;

        flex-wrap: wrap;

        .accountTable {
            flex: 1 1 60%;
    
        }
    }
}