.container {
    display: flex;
    gap: 30px;

    flex-wrap: wrap;

    .accountTable {
        flex: 1 1 60%;
        margin: 35px;
    }

    .topSoldList {
        flex: 1 1 30%;

        padding-top: 57.5px;
    }

    .profitTrend {
        flex: 1 1 100%;

        height: fit-content;
    }
}