/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color:aliceblue;
} */

.content{
    width: calc(100% - 50px);
    height: calc(100vh - 100px);
    margin-left: 20px;
    padding: 10px;
    background:  linear-gradient(0deg, #2179FFFF 0%, #297FE2FF 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.order{
    width: calc(100% - 500px);
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px; 
}

/* fieldset{
    width: 100%;
    padding: 20px;
    background-color: RGB(78,168,227);
    border: 1px solid lightblue;
    border-radius: 10px;
}

fieldset > legend{
    margin-left: 0rem;
    background-color:RGB(94,96,206);
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 0.5rem;
    font-weight: bold;
    height: 30px;
}

label{
    width: 100px;
    display: inline-block;
    color: white;
}

input{
    width: calc(100% - 120px);
    height: 25px;
    opacity: 50%;
    background-color: RGB(83,144,217);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
} */

#vendorDetail{
    width: 100%;
    height: 6vh;
    opacity: 50%;
    background-color: RGB(83,144,217);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

#remarks{
    width: calc(100% - 110px);
    height: 5vh;
    opacity: 50%;
    background-color: RGB(83,144,217);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}
/* 
select{
    width: calc(100% - 110px);
    height: 4vh;
    opacity: 50%;
    background-color: RGB(83,144,217);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
} */

.itemButton{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.button{
    width: 200px;
    height: 4vh;
    background-color: RGB(83,144,217);
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
}

.updateB{
    width: 60px;
    height: 40px;
    background-color: RGB(83,144,217);
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
}

.button:hover{
    background-color: thistle;
}

.butOrder{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.itemList{
    width: 450px;
    background-color: RGB(78,168,227);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.listTitle{
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color:RGB(94,96,206);
    border: 2px solid white;
    border-radius: 20px;
    font-size: 3vh;
}

.items{
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sItem{
    display: flex;
    width: 100%;
    background-color:RGB(94,96,206);
    border: 2px solid white;
    height: 50px;
    align-items: center;
    border-radius: 20px;
}

.sItemDetail{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.sItemButton{
    width: 50px;
    padding-left: 10px;
}

.gTotal{
    height: max-content;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}